[submodule "ocaml"]
	path = ocaml
	url = https://github.com/anmonteiro/ocaml
	branch = 4.12.0+BS
	ignore = untracked
[submodule "syntax"]
	path = syntax
	url = https://github.com/rescript-lang/syntax
	branch = master
[submodule "ninja"]
	path = ninja
	url = https://github.com/rescript-lang/ninja
	ignore = untracked
