pin-depends: [
  [ "reason.dev" "git+https://github.com/reasonml/reason.git#anmonteiro/5.4-support" ]
  [ "reason-react-ppx.dev" "git+https://github.com/reasonml/reason-react.git#2c1f6648be3223991579f956c913805c12880cb3"]
]
