pin-depends: [
  [ "reason.dev" "git+https://github.com/reasonml/reason.git#3.16.0" ]
  [ "reason-react-ppx.dev" "git+https://github.com/reasonml/reason-react.git#6610b1a979e7c6336c996d519c195032c8a6637e"]
]
