pin-depends: [
  [ "js_of_ocaml-compiler.dev" "git+https://github.com/ocsigen/js_of_ocaml.git#afbfc00b56b3b2243bc77f0a3c4ccfd888efafd3" ]
  [ "js_of_ocaml.dev" "git+https://github.com/ocsigen/js_of_ocaml.git#afbfc00b56b3b2243bc77f0a3c4ccfd888efafd3" ]
  [ "sedlex.dev" "git+https://github.com/ocaml-community/sedlex.git#v3.4"]
  [ "reason.dev" "git+https://github.com/reasonml/reason.git" ]
  [ "reason-react-ppx.dev" "git+https://github.com/reasonml/reason-react.git#c97615d62311f32c2dbb1e5d159c06e147ca7545"]
]

