build: [
  ["dune" "subst"] {dev}
  [
    "dune"
    "build"
    "-p"
    "melange" # Need to include "melange" because of https://github.com/ocaml/dune/pull/7220
    name
    "-j"
    jobs
    "@install"
    "@runtest" {with-test}
    "@doc" {with-doc}
  ]
]
