name: Build using esy

on:
  pull_request:
  push:
    branches:
      - fork

jobs:
  build:
    name: Build

    strategy:
      matrix:
        system: [windows, ubuntu, macos, macos-arm64]

    runs-on: ${{ matrix.system }}-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3
        if: ${{ matrix.system != 'macos-arm64' }}
        with:
          node-version: 14

      - name: Install esy
        if: ${{ matrix.system != 'macos-arm64' }}
        run: npm install -g esy

      - uses: esy/github-action@master
        with:
          cache-key: ${{ hashFiles('esy.lock/index.json') }}

      - name: Run tests.
        if: ${{ matrix.system != 'windows' }}
        run: esy test
