name: "Nix Pipeline"
on:
  pull_request:
  push:
   branches:
     - fork
jobs:
  tests:
    name: Build with Nix
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: cachix/install-nix-action@v16
      with:
        extra_nix_config: |
          experimental-features = nix-command
    - uses: cachix/cachix-action@v10
      with:
        name: anmonteiro
        signingKey: '${{ secrets.CACHIX_SIGNING_KEY }}'
    - name: "Run nix-build"
      run: nix-build ./nix/ci/test.nix
