name: Opam Pipeline

on:
  pull_request:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Build and test

    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
          - ubuntu-22.04-arm
          # - windows-latest # for some reason windows build is not picking dune 3.5
        ocaml-compiler:
          - ocaml-base-compiler.5.4.0~rc1

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          submodules: "recursive"
          path: melange

      - name: Use Node
        uses: actions/setup-node@v5
        with:
          node-version: 24

      - name: Install Homebrew dependencies
        if: ${{ matrix.os == 'macos-latest' }}
        run: |
          env HOMEBREW_NO_AUTO_UPDATE=1 brew install tree

      - name: Use OCaml ${{ matrix.ocaml-compiler }}
        uses: ocaml/setup-ocaml@v3
        with:
          ocaml-compiler: ${{ matrix.ocaml-compiler }}

      - name: Restore OPAM cache
        id: opam-cache
        uses: actions/cache/restore@v4
        with:
          path: |
            ~/.opam
            ~/work/melange/melange/_opam
          key: opam-${{ matrix.os }}-${{ matrix.ocaml-compiler }}-${{ hashFiles('melange/*.opam') }}

      - name: Install dependencies
        working-directory: melange
        run: |
          opam update
          make opam-install-test

      - name: Clone melange-opam-template
        run: |
          git clone https://github.com/melange-re/melange-opam-template.git
          cd melange-opam-template

      - name: Install all deps
        working-directory: melange-opam-template
        run: |
          opam pin add reason-react-ppx.dev git+https://github.com/reasonml/reason-react.git#c97615d62311f32c2dbb1e5d159c06e147ca7545 -y
          opam pin add reason-react.dev git+https://github.com/reasonml/reason-react.git#c97615d62311f32c2dbb1e5d159c06e147ca7545 -y
          npm install

      - name: Build basic template
        working-directory: melange-opam-template
        run: |
          opam exec -- dune build @react @node --profile=release --display=short
          npm run bundle

      - name: Run resulting .js files
        working-directory: melange-opam-template
        run: |
          node ./_build/default/src/node/src/Hello.mjs

      - name: Save OPAM cache
        uses: actions/cache/save@v4
        if: steps.opam-cache.outputs.cache-hit != 'true'
        with:
          path: |
            ~/.opam
            ~/work/melange/melange/_opam
          key: opam-${{ matrix.os }}-${{ matrix.ocaml-compiler }}-${{ hashFiles('melange/*.opam') }}
